
@{
    ViewBag.Title = "Home Page";
}




<div class="Contact-Advertisement">

    <div class="middle-page">
        <h2>A place for local food vendors to sell their product</h2>
    </div>


    <div class="row">
        <div class="card col-md-3">

            <img src="~/Content/Internal.Content/images/delivery_1.jfif" alt="delivery man" />



            <h3>Local Food</h3>

            <p>
                Get food delivered from local food business in your area to you

            </p>


            <!---<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
        </div>
        <div class="card col-md-3">

            <img src="~/Content/Internal.Content/images/burger.jfif" alt="" />
            <h3>Fast and Reliable</h3>
            <p>Fast delivery in your Area check here for details on how to order</p>
            <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p> -->
        </div>


        <div class="card col-md-3">

            <img src="~/Content/Internal.Content/images/localbusiness.jfif" alt="" />
            <h3>Get Involved!</h3>

            <p> Contact us here to link your food business to our page and set up there!</p>
            <!--    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p> -->
        </div>
    </div>

</div>


<div class="information-details">

    <div class=" row">
        <div class="col-md-2">
            <h4>Customer Service</h4>
            <ul>
                <li>Login</li>
                <li>Sign up</li>
                <li>Blog</li>
                <li>My Account</li>
                <li>Help</li>

            </ul>
        </div>
        <div class="col-md-2">
            <h4>Cusines</h4>
            <ul>
                <li>Pizza</li>
                <li>Burger</li>
                <li>Cold Meat</li>
                <li>Pasta</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h4>Local Business</h4>
            <ul>
                <li>Butchers</li>
                <li>Burger Delivery</li>
                <li>Cake Maker</li>
                <li>Vegtable Delivery</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h4>About Us</h4>
            <ul>
                <li>Our Mission</li>
                <li>Our Promise</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h4>How to Sign up</h4>
            <ul>
                <li>Details here</li>
                <li>Further Information</li>
            </ul>
        </div>

    </div>

</div>

<div class="Food-Options">
    <div class="row">
        <div class="col-md-3">
            <div class="image-container">
                <img src="~/Content/Internal.Content/images/foodimages.jfif" alt="" />
                <div class="image-text">Catering Options</div>
                <p> Catering options for parties, office gatherings check out our selections here!</p>
            </div>

        </div>
        <div class="col-md-3">
            <div class="image-container">
                <img src="~/Content/Internal.Content/images/foodoptions.jfif" alt="" />
                <div class="image-text">Healthy Options</div>
                <p> Catering options for parties, office gatherings check out our selections here!</p>
            </div>

        </div>

    </div>
    <div class="row">

        <div class="col-md-3">
            <div class="image-container">
                <img src="~/Content/Internal.Content/images/localbusiness.jfif" alt="" />
                <div class="image-text">Party Food</div>
                <p> Catering options for parties, office gatherings check out our selections here!</p>
            </div>

        </div>

        <div class="col-md-3">
            <div class="image-container">
                <img src="~/Content/Internal.Content/images/foodideas.jfif" alt="" />
                <div class="image-text">Takeaway Food</div>
                <p> Catering options for parties, office gatherings check out our selections here!</p>
            </div>

        </div>
    </div>

</div>

<div class="HelpSection">
<div class="HelpContainer" onclick="openChat()">
    <div class="HelpSection"><h4> Chat Here For Help </h4>  <p>💬</p> </div>
</div>
<div class="chat-popup" id="Form">
    <div class="form-container">

    <h4>Chat</h4>
    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message..."
              name="msg" required></textarea>
        <button type="submit" class="bg-success">Send</button>
    </div>
</div>
</div>

