@{
    ViewBag.Title = "Home Page";
}




<div class="Contact-Advertisement">

    <div class="middle-page">
        <h2>A place for local food vendors to sell their product</h2>
    </div>


    <div class="row">
        <div class="card col-md-4">

            <img src="~/Content/Internal.Content/images/delivery_1.jfif" alt="delivery man" />



            <h2>Local Food</h2>

            <p>
                Get food delivered from local food business in your area to you

            </p>


            <!---<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
        </div>
        <div class="card col-md-4">

            <img src="~/Content/Internal.Content/images/burger.jfif" alt="" />
            <h2>Fast and Reliable</h2>
            <p>Fast delivery in your Area check here for details on how to order</p>
            <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p> -->
        </div>


        <div class="card col-md-4">

            <img src="~/Content/Internal.Content/images/localbusiness.jfif" alt="" />
            <h2>Get Involved!</h2>

            <p> Contact us here to link your food business to our page and set up there!</p>
            <!--    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p> -->
        </div>
    </div>

</div>